<div class="panel panel-default checked">
    <div class="panel-body">
        <p class="tx-14 tx-gray">I am pleased to recommend Matthew. I've known him for over 9 years, having worked with him on both the subscription research and market consulting wings of Frost & Sullivan's Healthcare practice. I have always been very impressed by his work ethic and dedication to producing quality market research.</p>
        <div class="card-details">
            <img src="http://lorempixel.com/200/200/people/2" alt="picture of referral" class="img">
            <div class="info">
                <h4>Peoplenasio Doe</h4>
                <p class="tx-12 tx-med tx-gray mb-2">Head of experiments at <span class="text-primary">Keplerr</span></p>
                <p class="tx-12 tx-med tx-gray mb-2">Worked directly with Ebenezer at Frost and Sullivan from 02 Jan 2012 to 15 Dec 2014</p>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
