<h2>Add Contact</h2>
<!--
<form (ngSubmit)="addContact()" #addContactForm="ngForm">
	<input class="form-control" type="text" [(ngModel)]="invite.contact.name" placeholder="Name or alias of your contact" ngControl="name" #name="ngForm" required>
	<br>
	<input class="form-control" type="email" [(ngModel)]="invite.contact.email" placeholder="Email of your contact" #email="ngForm" required/>
	<h4>Send a special message to {{name}}</h4>
	<textarea [(ngModel)]="invite.message" placeholder=" A friendly message for your contact"class="form-control"></textarea>
	<br><br>
	<button type="submit" class="btn btn-primary" [disabled]="!addContactForm.form.valid">Add Contact</button>
</form>-->