<div class="col-sm-3">
          <ul class="nav nav-sidebar">
            <li><h5>Recommendations</h5></li>
            <li><a [routerLink]="['Recommendations']"><i class="fa fa-list"></i> List</a></li>
            <li><a [routerLink]="['New Recommendation']"><i class="fa fa-certificate"></i> New Recommendation</a></li>
            <li><a [routerLink]="['Reply Recommendation']"><i class="fa fa-reply"></i> Reply Recommendation</a></li>
            <li><a [routerLink]="['View Recommendation']"><i class="fa fa-eye"></i> View Recommendation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><h5>Contacts</h5></li>
            <li><a [routerLink]="['Contacts add']"><i class="fa fa-user-plus"></i> Add Contact</a></li>
            <li><a [routerLink]="['Contacts']"><i class="fa fa-users"></i> Contacts list</a></li>
            <li><a [routerLink]="['Contacts map']"><i class="fa fa-share-alt"></i> Contacts map</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><h5>Conversations</h5></li>
            <li><a [routerLink]="['Conversations']"><i class="fa fa-home"></i> Conversations list</a></li>
            <li><a [routerLink]="['View conversation']"><i class="fa fa-plus"></i>Conversations detail</a></li>
            <li><a [routerLink]="['New conversation']"><i class="fa fa-eye"></i> New Conversation</a></li>
          </ul>
        </div>