  <div class="col-sm-4 col-md-4 col-lg-3 sidenav" id="sidenav">
  <span class="edit">Edit</span>
  <div class="content">
    <div class="section-profile">
      <div class="profile-picture">
        <img src="http://lorempixel.com/200/200/people/8"  alt="" />
      </div>
      <div class="profile-names">
        <h3 class="name">Ebenezer Doe</h3>
        <h5 class="role">ENIAC Developer</h5>
        <div class="stats">
          <span class="stat">
            <img class="img-icon recommendations" src="/img/badge.png" alt=""> 14
          </span>
          <span class="stat">
            <img class="img-icon contacts" src="/img/contacts.png" alt=""> 32
          </span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="links-xs">
    <a [routerLink]="['/dashboard/recommendations']" class="btn btn-link btn-full btn-lg">Recommendations</a>
      <a [routerLink]="['/dashboard/conversations']" class="btn btn-link btn-full btn-lg">Conversations</a>
      <a [routerLink]="['/dashboard/network']" class="btn btn-link btn-full btn-lg">Contacts</a>
      <a href="" class="btn btn-link btn-full btn-lg"><img class="img-icon" src="/img/logout.png" alt=""> Log Out</a>
    </div>
    <div class="section-cta">
      <a [routerLink]="['/dashboard/recommendations/new']" class="btn btn-primary  btn-lg"><img class="img-icon" src="/img/request.png" alt="">Request Recommendation</a>
      <a [routerLink]="['/dashboard/conversations/new']" class="btn btn-link btn-lg mt-10"><img class="img-icon" src="/img/conversation.png" alt="">Create New Conversation</a>
      </div>
    <div class="logout">
      <a href="" class="btn btn-link btn-full btn-lg mt-10"><img class="img-icon" src="/img/logout.png" alt=""> Log Out</a>
    </div>
  </div>
  </div>
