<nav class="navbar navbar-spryly navbar-fixed-top" id="main-nav">
  <div class="container-fluid container-nav">
    <div class="col-sm-12">
      <div class="btn-group" id="ham-group" dropdown [(isOpen)]="status.isopen">
       <button class="hamburguer" id="hamburguer" dropdownToggle>Show menu</button>
       <ul class="dropdown-menu" dropdownMenu aria-labelledby="hamburguer">
            <li class="arrow arrow-left"></li>
            <li>
              <a class="dropdown-item" href=""><i class="material-icons">person</i> <span class="adjust-text">My profile</span></a>
            </li>
            <li>
              <a class="dropdown-item" href=""><i class="material-icons">exit_to_app</i> <span class="adjust-text">Sign out</span></a>
            </li>
          </ul>
      </div>
      <a class="navbar-brand" href="#"><img class="logo" src="./img/logo.png" alt="Spryly"></a>
      <ul class="nav navbar-nav links hidden-xs">
        <li><a  [routerLink]="['/dashboard/profile']" id="profile-link">Your profile</a></li>
      </ul>
      <div class="navbar-nav navbar-right">
        <form class="search-form">
          <input type="text" class="search" placeholder="Search (role, contact, etc)" id="search-box" />
          <button class="btn-search"><i class="material-icons">search</i></button>
        </form>
        <div class="hidden-xs menu-dropdown" dropdown [(isOpen)]="status.isopen">
            <div id="user-menu" dropdownToggle>
              <img src="http://static1.squarespace.com/static/54d12b4de4b02f3989468d9c/t/56ccd54d746fb9d06f7274c8/1463778793252/?format=500w" alt="Your profile"/>
              <span class="caret"></span>
            </div>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="user-menu">
            <li class="arrow"></li>
            <li>
              <a class="dropdown-item" href=""><i class="material-icons">person</i> <span class="adjust-text">My profile</span></a>
            </li>
            <li>
              <a class="dropdown-item" href=""><i class="material-icons">exit_to_app</i> <span class="adjust-text">Sign out</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
