<nav class="navbar navbar-spryly navbar-fixed-top" id="main-nav">
  <div class="container-fluid container-nav">
    <div class="col-sm-4 col-md-4 col-lg-3">
      <button class="hamburguer" (click)="toggleSidenav()">Show menu</button>
      <a class="navbar-brand" href="#"><img class="logo" src="./img/logo.png" alt="Spryly"></a>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-9">
      <ul class="nav navbar-nav links">
        <li><a  [routerLink]="['/dashboard/recommendations']">Recommendations</a></li>
        <li><a [routerLink]="['/dashboard/conversations']">Conversations</a></li>
        <li><a [routerLink]="['/dashboard/network']">Your Network</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="icon-item notifications" (click)="toggleNotifications()">Notification Center</a></li>
      </ul>
    </div>
  </div>
</nav>
