<div class="row head-landing" *ngIf="!landing">
  <div class="col-xs-8">
    <h3 class="tx-24 tx-primary">Sign in</h3>
    <p><span>New to Spryly?</span> <a href="#/users/signup">Create an account</a></p>
  </div>
  <div class="col-xs-4">
    <img class="logo-landing" src="img/logo-turq.png" alt="">
  </div>
</div>
<hr/>

<form class="spryly-form" (ngSubmit)="signIn()">
  <div class="form-group">
    <label for="email">Email:</label>
    <input class="form-control" type="text" placeholder="Email" [(ngModel)]="login.email" />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control" type="password" placeholder="Password" [(ngModel)]="login.password" />
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>

  <div class="pull-right mt-20" *ngIf="!landing">
    <button class="btn btn-primary">Sign In</button>
  </div>
  <div class="pull-right mt-20" *ngIf="landing">
    <a href="#/thanks/user" class="btn btn-primary">Sign In</a>
  </div>

  <div class="clearfix"></div>
</form>
