.panel-body
  padding: 24px 30px
.social-icon
  width: 15px
.mail-input
  width: 252px
  display: inline-block
.fit-input
  padding: 8px 10px
  font-size: 12px
  position: relative
  top: -1px
  .material-icons
    font-size: 15px