
<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="tx-18 tx-normal">Share and verify with {{ shareInfo.target.name }}</h4>
    <h5 class="tx-14 tx-med mb-20">Direct link: <a class="tx-primary" href="http://spryly.co/verify/{{shareInfo.id}}">http://spryly.co/verify/{{shareInfo.id}}</a></h5>
    <a target="_blank" href="https://www.facebook.com/dialog/send?link=http://spryly.co/verify/{{shareInfo.id}}&next=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Freturn%2Fclose&display=popup&app_id=189314431096339" class="btn btn-primary social"><img class="social-icon" src="img/fb.png" alt="messenger logo"/> Messenger</a>
    <a target="_blank" href="http://twitter.com/intent/tweet?status=@yourcontacthandle - Help me to verify that we worked together http://spryly.co/verify/{{shareInfo.id}}" class="btn btn-primary social"><img class="social-icon" src="img/tw.png" alt="twitter logo"/> Twitter</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://spryly.co/verify/{{shareInfo.id}}&summary=Help me to verify that we worked together" class="btn btn-primary social" ><img class="social-icon" src="img/in.png" alt="linkedin logo"/> Linkedin</a>
    <a href="whatsapp://send?text=Help me to verify that we worked together – http://spryly.co/verify/{{shareInfo.id}}" data-action="share/whatsapp/share"  class="btn btn-primary social hidden-xs"><img class="social-icon" src="img/wa.png" alt="messenger logo"/> Whatsapp</a>
    <h5 class="tx-14 tx-med mt-40">Or send it by email:</h5>
    <form action="" class="form-group">
      <input type="text" class="form-control mail-input" placeholder="Email"/>
      <a href="" class="btn btn-primary fit-input"><i class="material-icons">email</i> Send</a>
    </form>
  </div>
  <div class="clearfix"></div>
</div>
