.padding-after-nav
  padding-top: 30px
.mb-2
  margin-bottom: 2px
.mb-20
  margin-bottom: 20px
.mt-10
  margin-top: 10px
.mb-10
  margin-bottom: 10px
.mt-20
  margin-top: 20px
.mt-40
  margin-top: 40px
.btn-hide
  display: none
.no-pad
  padding: 0
.no-mar
  margin: 0
.no-pad-xs
  @media screen and (max-width: 768px)
    padding: 0
//Text
//this generates a tx class to use fonts from 9 px to 72px. Just use .tx-number where number is a int from 9 to 72
@for $i from 9 through 72
  .tx-#{$i}
    font-size: #{$i}px
//weights
.tx-med
  font-weight: 500
.tx-light
  font-weight: 300
.tx-normal
  font-weight: 400
.tx-bold
  font-weight: 700
.tx-gray
  color: $text-gray
.tx-wh
  color: white
.tx-primary
  color: $primary
.tx-under
  text-decoration: underline
.tx-danger
  color: $danger-light
.tx-info
  color: $info-light
.tx-bold
  color: $text-bold
.pointer
  cursor: pointer
.link-primary
  color: $primary
  text-decoration: underline
  &:hover
    color: $primary-light
.link-white
  color: white
  text-decoration: underline
  &:hover
    color: white
    opacity: 0.8

//Flexbox
.flex-container
  display: flex
  @media screen and (max-width: 768px)
    &.fall-xs
      flex-direction: column
  &.flex-vertical
    flex-direction: column
.flex-space
  justify-content: space-between
.flex-30
  width: 30%
  padding: 2%
  @media screen and (max-width: 768px)
    width: 100%
    margin-top: 30px
.flex-40
  width: 50%
  @media screen and (max-width: 768px)
    width: 100%
    margin-top: 30px

//widths
.width-80
  width: 80%
  clear: both
  display: block


