
.padding-after-nav
  padding-top: 50px
.mb-2
  margin-bottom: 2px
.mt-10
  margin-top: 10px
.mt-20
  margin-top: 20px
.btn-hide
  display: none
.no-pad
  padding: 0
.no-pad-xs
  @media screen and (max-width: 768px)
    padding: 0
//Text
.tx-12
  font-size: 12px
.tx-14
  font-size: 14px
.tx-med
  font-weight: 500
.tx-light
  font-weight: 300
.tx-normal
  font-weight: 400
.tx-bold
  font-weight: 700
.tx-gray
  color: $text-gray
.text-primary
  color: $primary


