// Body level
html, body
  height: 100%
  overflow-x: hidden
body
  background: $page-bg
  font-family: 'Heebo', sans-serif !important
  font-smooth: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-shadow: 1px 1px 1px rgba(0,0,0,0.008)

//Typography
h1, h2, h3, h4, h5, h6
  font-weight: 500
h1
  font-size: 36px
  &.dashboard-title
    font-size: 24px
    font-weight: 300
    color: $primary
    .material-icons
      position: relative
      top: 4px
h2
  font-size: 24px
h3
  font-size: 18px
h4
  font-size: 15px
h5
  font-size: 13px
h6
  font-size: 11px


//Buttons
.btn
  border: 0
  border-radius: 3px
  font-weight: 500
  cursor: pointer
  padding: 13px 15px
  &.btn-full
    width: 100% !important
  &.btn-primary
    background: $primary
    color: white
    transition: all 0.6s ease-in
    border: 1px solid transparent
    &:hover
      background: $primary-light
  &.btn-default
    color: $primary
    border: 1px solid transparent
    border-color: $primary
    transition: all 0.2s ease-out
    &:hover
      border-color: $primary-light
      background: $primary-light
      color: white
      text-decoration: none
  &.btn-link
    color: $primary
    border: 1px solid transparent
    transition: all 0.2s ease-out
    &:hover
      border-color: $primary
      text-decoration: none
  &.btn-lg
    font-size: 14px
  .material-icons
    font-size: 22px
    margin-right: 5px
    line-height: 30px
  span
    position: relative
    top: -7px

// Dashborad main
spr-dashboard
  max-width: 100%
  overflow-x: hidden
// Navbar =====================================================================
.navbar-spryly
  border-width: 0
  max-height: 50px !important
  background: $navbar-default-bg
  @media screen and (max-width: 768px)
    z-index: 3
  .container-nav
    padding-left: 0
  .navbar-brand
    padding-top: 11px
  .logo
    height: 26px
    padding-left: 26px
  .hamburguer
    display: none
    @media screen and (max-width: 768px)
      display: inline-block
      outline: none
      background: url('../public/img/hamburguer.png') no-repeat center center
      background-size: cover
      text-indent: -999px
      border: 0
      float: left
      width: 27px
      height: 19px
      position: relative
      top: 16px
      &:focus
        outline: none

.navbar-nav
    &.links
      margin-left: -9px
      @media screen and (max-width: 768px)
        display: none
    &.navbar-right
      margin-right: -30px
      @media screen and (max-width: 768px)
        float: right
    li
      a
        padding: 16px 25px 10px 25px
        border-bottom: 4px solid #ccc
        border-color: $navbar-default-bg
        transition: all 0.2s ease-in
        color: $navbar-link
        font-weight: 500
        font-size: 14px
        cursor: pointer
        &.active
          color: $navbar-link-active
          border-color: white
          background: transparent
          font-weight: 700
        &:hover, &:active, &:focus
          color: $navbar-link-active
          background: transparent
          font-weight: 700
        &.icon-item
          border: 0 !important
          text-indent: -9999px
          padding: 25px 0 5px 0
          @media screen and (max-width: 768px)
            padding-top: 8px
          &:hover
            border: 0 !important
          &.notifications
            background: url('../public/img/notifications.png') center center no-repeat
            background-size: 19px 19px;
            &.active
              background-image: url('../public/img/notifications-red.png') !important
.sidenav
  height: 100vh
  text-align: center
  padding-top: 50px
  background: #EDEFF0
  -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.14)
  -moz-box-shadow:    2px 0px 4px 0px rgba(0, 0, 0, 0.14)
  box-shadow:         2px 0px 4px 0px rgba(0, 0, 0, 0.14)
  transition: all 0.2s ease-in
  z-index: 2
  position: fixed
  @media screen and (max-width: 768px)
    position: absolute
    width: 282px
    left: -290px
    &.show
      left: 0
  .content
    width: 90%
    margin: 0 auto
    @media screen and (min-width: 768px) and (max-width: 992px)
      width: 98%
  .edit
    display: block
    background: url('../public/img/edit.png') top right no-repeat
    background-size: 45%
    padding: 22px 22px
    width: 22px
    height: 40px
    float: right
    position: relative
    top: 20px
    font-size: 12px
    color: $primary
    cursor: pointer
    text-indent: -9999px
    &:hover
      text-indent: 0
  .section-profile
    @media screen and (max-width: 768px)
      margin-top: -20px
  .profile-picture
    width: 155px
    height: 155px
    border: 4px solid #fff
    border-radius: 50%
    margin: 20px auto 20px auto
    transition: all 0.3s ease-in
    @media screen and (max-width: 768px)
      width: 55px
      height: 55px
      float: left
      margin-right: 15px
    &:hover
      border-color: $primary
    img
      border-radius: 50%
      width: 100%
      height: auto
      border: 8px solid transparent
      position: relative
      @media screen and (max-width: 768px)
        border: 2px solid transparent
  .profile-names
    @media screen and (max-width: 768px)
      float: left
  .name
    font-weight: 500
    font-size: 18px
    color: $text-bold
    @media screen and (max-width: 768px)
      font-size: 16px
  .role
    font-weight: 400
    font-size: 14px
    color: $text-primary
    @media screen and (max-width: 768px)
      font-size: 13px
  .stats, .section-cta
    margin-top: 57px
  .stats
    width: 110px
    margin-left: auto
    margin-right: auto
    @media screen and (max-width: 768px)
      margin-top: 5px
    .stat
      font-size: 13px
      color: $primary
      font-weight: 700
      margin-right: 10px
      .img-icon
        &.recommendations
          width: 15px
          height: auto
        &.contacts
          width: 24px
          height: auto
  .links-xs
    display: none
    @media screen and (max-width: 768px)
      display: block
      margin-top: 30px
    .btn
      text-align: left !important
      padding: 10px 0 !important
      transition: 0.2s all ease-in
      &:hover
        border-color: transparent !important
        color: $primary-light
        margin-left: 5px
      .img-icon
        width: 12px
        height: auto
  .logout
    position: absolute
    bottom: 30px
    left: 20px
    @media screen and ( max-width: 768px )
      display: none
    .btn-link
      &:hover
        border: 1px solid transparent

.notification-center
  height: 100vh
  padding-top: 50px
  position: absolute !important
  top: 0
  right: -500px
  background: $dark
  transition: 0.2s all ease-in
  &.show
    right: 0
//HR
hr
  border: 0
  background: #F4F4F4
  width: 100%
  height: 1px
  margin: 10px 0
//Forms
.spryly-form
  background: white
  padding: 35px
  margin: 20px 0
  border-radius: 2px
  &.has-fieldset
    padding: 0 0 30px 0
    fieldset
      padding: 0
      .content-field
        padding: 30px
    legend
      font-weight: 500
      font-size: 16px
      color: $primary
      border-bottom: 1px solid #ECECEC
      padding: 15px 30px
      margin-bottom: 0
  .form-cta
    width: 30%
    margin: 30px auto 0 auto
    display: block
    @media screen and (max-width: 992px)
      width: 50%
    @media screen and (max-width: 768px)
      width: 80%
.form-group
  label
    font-size: 14px
    font-weight: 500

  .form-control, select.form-control
    border: 1px solid #DEDEDE
    border-radius: 2px !important
    padding: 16.5px 12px
    box-shadow: none !important
    &.inline-input
      border-radius: 0 !important
      border: none !important
      border-bottom: 1px solid #DEDEDE !important
      &::-webkit-input-placeholder
        color: $primary !important
      &:-moz-placeholder
        color: $primary !important
      &::-moz-placeholder
        color: $primary !important
      &:-ms-input-placeholder
        color: $primary !important
  .file-control
    width: 100%
    background: $page-bg
    border-radius: 5px
    border: 0
    padding: 15px
    overflow: hidden
    position: relative
    cursor: pointer
    opacity: 0.6
    transition: 0.3s all linear
    &:hover
      opacity: 1
    [type=file]
      cursor: inherit
      display: block
      font-size: 999px
      filter: alpha(opacity=0)
      min-height: 100%
      min-width: 100%
      opacity: 0
      position: absolute
      right: 0
      text-align: right
      top: 0
    label
      font-size: 16px
      color: #848484
      position: relative
      top: -2px
      .material-icons
        position: relative
        top: 8px

  .survey-question
    padding: 0
    .form-control
      display: inline-block
      width: 70%
    .btn
      display: inline-block
      width: 26%
      padding: 1px 15px
  .radio
    label
      display: block
      cursor: pointer
      line-height: 2.5
    [type="radio"]
      border: 0
      clip: rect(0 0 0 0)
      height: 1px 
      margin: -1px
      overflow: hidden
      padding: 0
      position: absolute
      width: 1px
      + span
        display: block
        &:before
          content: ''
          display: inline-block
          width: 15px
          height: 15px
          vertical-align: -0.25em
          border-radius: 1em
          border: 2px solid #fff
          box-shadow: 0 0 0 1px #DEDEDE
          margin-right: 0.75em
          transition: 0.5s ease all
      &:checked + span:before
        background: $primary
        box-shadow: 0 0 0 2px #00C0C0

//Panel
.panel
  &-default
    background: #FFFFFF
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06)
    border-radius: 3px
//Lists
.chulos-list
  padding-left: 15px
  margin-top: 20px
  list-style-image: url('../public/img/chulo.png')
  li
    margin-left: 0
    font-weight: 500


