<div class="panel panel-default" id="{{idExp}}">
  <div class="panel-body">
    <h4 class="tx-20 tx-bold"><span class="tx-normal" *ngIf="!verification.end"> Currently</span> {{verification.role}} <span class="tx-normal">at</span> {{verification.organization}}</h4>
    <h5 class="tx-15 tx-bold"><span class="tx-normal">from</span> {{verification.start | date: 'MMMM y' }} <span *ngIf="verification.end"><span class="tx-normal">to</span> {{verification.end | date: 'MMMM y' }}</span></h5>
    <div class="pull-right text-center" *ngIf="verification.people">
      <h6 class="tx-16 tx-med tx-primary">VERIFIED BY:</h6>
      <div class="verified-people">
        <span *ngFor="let p of verification.people;let i=index">
          <a *ngIf="i == 0 || i == 1" class="people" href="" tooltip="{{p.name}}"><img src="{{p.picture}}" alt="{{p.name}} picture" class="img-circle"></a>
          <a *ngIf="i == 2" href="" class="badge" tooltip="{{verification.people.length - 2}} more">{{verification.people.length - 2}}+</a>
        </span>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>