<div class="profile-bg" [ngStyle]="{'background-image': 'url(' + profileImage + ')'}"></div>
<div class="profile-container">
  <div class="col-xs-12">
    <div class="section-profile">
      <div class="profile-picture">
        <img src="http://static1.squarespace.com/static/54d12b4de4b02f3989468d9c/t/56ccd54d746fb9d06f7274c8/1463778793252/?format=500w"  alt="" />
      </div>
      <div class="profile-names">
        <h3 class="tx-18 tx-med">Ebenezer Doe</h3>
        <h5 class="tx-14 tx-normal">Love reading books & blogs. I play guitar in my spare time.</h5>
      </div>
    </div>
    <a href="" class="btn btn-primary pull-right"><i class="material-icons tx-26">add_circle_outline</i> <span>Add experience</span></a>
    <div class="clearfix"></div>
    <div class="verifications-list">
      <spr-experience-detail> </spr-experience-detail>
    </div>
  </div>
</div>