<div class="profile-bg" [ngStyle]="{'background-image': 'url(' + profile?.profileImage + ')'}"></div>
<div class="profile-container" >
  <div class="col-xs-12">
 <div class="section-profile">
      <div class="profile-picture">
        <img src="{{profile?.picture}}"  alt="" />
      </div>
      <div class="clearfix"></div>
      <div class="profile-names" #names>
        <h3 class="tx-18 tx-med">{{profile?.name}}</h3>
        <h5 class="tx-14 tx-normal">{{profile?.bio}}</h5>
      </div>
    </div>
    <a href="" class="btn btn-primary pull-right hidden-xs" id="add-btn"><i class="material-icons tx-26">add_circle_outline</i> <span>Add experience</span></a>
    <div class="clearfix"></div>
    <div class="verifications-list">
      <div *ngFor="let verification of verifications;let i=index">
      <spr-experience-detail *ngIf=" i == 0" [verification]="verification" [idExp]="'first-experience'"> </spr-experience-detail>

      <spr-experience-detail *ngIf=" i > 0" [verification]="verification" [idExp]=" 'experience-' + verification.id "> </spr-experience-detail>
      </div>
    </div>
  </div>
</div>
<a href="" class="visible-xs-block" id="add-btn-xs"><i class="material-icons tx-36">add</i></a>
<spr-profile-tour></spr-profile-tour>