<img src="img/logo-white.png" alt="spryly" class="center-block logo-landing" />
<h2 class="text-center tx-wh tx-light tx-24">Create a free account</h2>
<div class="landing-form" id="landing-form">
<form class="spryly-form no-mar" (ngSubmit)="signUp()">
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Email" [(ngModel)]="user.email" />
  </div>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Name" [(ngModel)]="user.name" />
  </div>
  <div class="form-group">
    <input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.password" />
  </div>
  <button class="center-block btn btn-primary">Sign up</button>
  <div class="clearfix"></div>
</form>
</div>
<a href="" class="center-block text-center link-white mt-20">Create a new account</a>
