<form class="spryly-form recommendation">
  <div class="form-group">
  <div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error</strong> and try submitting again.
</div>
    <p class="inline-form">
      
    </p>
  </div>
  <div class="pull-right mt-20">
    <a href="" class="btn btn-link">Privacy</a>
    <button class="btn btn-primary" (click)="submitted=true">Submit Recommendation</button>
  </div>
  <div class="clearfix"></div>
</form>