<form class="spryly-form recommendation">
  <div class="form-group">
    <p class="inline-form">
      You <input type="text" class="inline-input" placeholder="relation type"><br/><br/> while you are <input type="text" class="inline-input" placeholder=" your role name"><br/><br/> and he/she is <input type="text" class="inline-input" placeholder="contact role name"><br/><br/> at <input type="text" class="inline-input" placeholder="organization name"><br/><br/>
    </p>
  </div>
  <button class="center-block mt-20 btn btn-primary" (click)="submitted=true">Confirm relationship</button>
  <div class="clearfix"></div>
</form>