<form class="spryly-form recommendation">
  <div class="form-group">
                <label for="contact">Where do you know Matthew from?*</label>
                <input class="form-control" type="text" placeholder="Ex. Department of State">
    </div>
    <div class="form-group">
                <label>When did that happened?*</label>
                <div class="clearfix"></div>
                <div class="form-group col-xs-6 col-sm-4 no-pad">
                  <label class="tx-gray" for="">From</label>
                  <input class="form-control" type="date" data-polyfill="all"/>
                </div>
                <div class="form-group col-xs-6 col-sm-4">
                  <label class="tx-gray" for="">To</label>
                  <input class="form-control" type="date" data-polyfill="all"/>
                </div>
                <div class="clearfix"></div>
    </div>
    <div class="form-group">
                <label for="contact">Where do you know Matthew from?*</label>
                <textarea class="form-control"  placeholder="Ex. He is the best colleague , super friendly and with great knowledge in public politics."></textarea>
    </div>
    <div class="certify-identity">
     <div class="form-group mini-inline">
                <label class="col-xs-1 no-pad" for="contact">I,</label>
                <div class="col-xs-10 no-pad">
                 <input class="form-control inline-input " type="text" placeholder="Please type your name">
                 </div>
                 <div class="clearfix"></div>

    </div>
    <p>Certify that i’m a human and all the information given on this form  is absolutely and nothing else than the truth and I can be contacted for confirmation. </p>
    </div>
    <div class="clearfix"></div>


</form>