<div class="landing">
  <!--form state-->
  <div class="landing-form" id="landing-form" [hidden]="hideform">
    <div class="row head-landing">
      <div class="col-xs-4 col-xs-offset-8">
        <img class="logo-landing" src="img/logo-turq.png" alt="">
      </div>
      <div class="col-xs-3 col-sm-4"><img class="img-responsive img-circle" src="{{data?.interaction?.connection?.source?.picture}}" alt="{{data?.interaction?.connection?.source?.name}}"></div>
      <div class="col-xs-9 col-sm-8 mt-20">
        <h3 class="tx-24 tx-light tx-primary">Confirm your connection with {{data?.interaction?.connection?.source?.name}}</h3>
      </div>
    </div>
    <hr/>
    <form class="spryly-form recommendation">
      <div class="form-group">
        <p class="inline-form">
          You <input type="text" class="inline-input" placeholder="relation type" [(ngModel)]="data && data.interaction.type"><br/><br/> while you <span *ngIf="data && data.end">were</span><span *ngIf="data && !data.end"> are</span> <input type="text" class="inline-input" placeholder=" your role name" [(ngModel)]="data && data.targetRole"><br/><br/> and he/she <span *ngIf="data && data.end">was</span><span *ngIf="data && !data.end"> is</span> <input type="text" class="inline-input" placeholder="contact role name" [(ngModel)]="data && data.sourceRole"><br/><br/> at <input type="text" class="inline-input" placeholder="organization name" [(ngModel)]="data && data.organization" ><br/><br/>
        </p>
      </div>
      <button class="center-block mt-20 btn btn-primary" (click)="verifyIdentity()">Confirm connection</button>
      <div class="clearfix"></div>
    </form>
  </div>
  <!--sign up-->
  <div class="landing-form no-badge" id="signup" [hidden]="!signup">
    <div class="row head-landing">
      <div class="col-xs-4 col-xs-offset-8">
        <img class="logo-landing" src="img/logo-turq.png" alt="">
      </div>
      <div class="col-xs-12 mt-20">
        <h3 class="tx-24 tx-light tx-primary">In order to confirm your relation with Mathew Rodgers, <strong>please validate</strong> that you are, in fact, the acquaintance.</h3>
        <p><span>Already have a Spryly account?</span> <a (click)="toggleSign()">Sign In</a></p>
      </div>
    </div>
    <spr-signup [landing]="true"></spr-signup>
  </div>
  <!--sign in-->
  <div class="landing-form no-badge" id="signin" [hidden]="!signin">
    <div class="row head-landing">
      <div class="col-xs-4 col-xs-offset-8">
        <img class="logo-landing" src="img/logo-turq.png" alt="">
      </div>
      <div class="col-xs-12 mt-20">
        <h3 class="tx-24 tx-light tx-primary">Sign in and confirm</h3>
        <p><span>Are you new to Spryly?</span> <a (click)="toggleSign()">Create an account</a></p>
      </div>
    </div>
    <spr-signin [landing]="true"></spr-signin>
  </div>
  <!--thanks state-->
  <div class="landing-form" id="thanks" [hidden]="!thanks">
    <div class="row">
      <div class="col-xs-12 col-sm-3 text-center">
        <img class="img" src="img/thanks.png" alt="You recommend your friend">
      </div>
      <div class="col-xs-12 col-sm-9">
        <h2 class="tx-primary">Thanks! for your help</h2>
        <p class="tx-med" [hidden]="!benefits">We want to help you to have a more successful professional life in a spryly way, so this is how it works:</p>
        <ul class="chulos-list" [hidden]="!benefits">
          <li>Verify your own connections</li>
          <li>Expand your network</li>
          <li>Ask people for feedback on what really matters</li>
        </ul>
        <p class="tx-med" [hidden]="benefits">We want to help you to have a more successful professional life in a spryly way, why don't you:</p>
        <div class="mt-20">
          <a href="" class="btn btn-link">Go to your dashboard</a>
          <a class="btn btn-primary">Create a new connection</a>
        </div>
      </div>
    </div>
  </div>
</div>