<div class="landing">
<div class="landing-form" id="thanks">
    <div class="row">
      <div class="col-xs-12 col-sm-3 text-center">
        <img class="img" src="img/thanks.png" alt="You recommend your friend">
      </div>
      <div class="col-xs-12 col-sm-9">
        <h2 class="text-primary">Thanks! for your help</h2>
        <p class="tx-med" [hidden]="!benefits">We want to help you to have a more successful professional life in a spryly way, so this is how it works:</p>
        <ul class="chulos-list" [hidden]="!benefits">
          <li>Verify your own connections</li>
          <li>Expand your network</li>
          <li>Ask people for feedback on what really matters</li>
        </ul>
        <p class="tx-med" [hidden]="benefits">We want to help you to have a more successful professional life in a spryly way, why don't you:</p>
        <div class="mt-20">
          <a href="" class="btn btn-link">Go to your dashboard</a>
          <a class="btn btn-primary">Create a new connection</a>
        </div>
      </div>
    </div>
  </div>
</div>