<div class="jumbotron" id="welcome-spryly">
  <spr-public-nav></spr-public-nav>
  <div class="wrapper">
  <h1>Be relevant in <br/>the world</h1>
  <h2>Show the power of your work with <span class="tx-bold">Spryly</span></h2>
  <div class="form-group">
    <input class="form-control"  type="text" placeholder="Enter your email">
    <button class="btn btn-primary">Start Now!</button>
  </div>
  </div>
</div>
<div class="jumbotron" id="features">
  <div class="container-fluid">
    <h2 class="text-primary tx-bold">Discover the spryly power</h2>
    <p class="main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est temporibus iste, ipsam quidem numquam distinctio. Ipsa quasi, illum modi adipisci laudantium, dolore nobis doloremque necessitatibus quia, illo et magni deleniti.</p>
    <div class="flex-container flex-space fall-xs">
    <div class="flex-30">
      <img class="feature-img" src="img/thanks.png" alt="Thanks">
      <h3 class="tx-22 tx-med text-primary">Feature One</h3>
      <p class="tx-normal tx-14 tx-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aliquam nobis, nisi neque totam doloremque incidunt facilis ab. Voluptates quis blanditiis iure enim nam cumque non deleniti reiciendis voluptate doloremque?</p>
    </div>
    <div class="flex-30">
      <img class="feature-img" src="img/thanks.png" alt="Thanks">
      <h3 class="tx-22 tx-med text-primary">Feature One</h3>
      <p class="tx-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, nemo a doloremque quibusdam magnam culpa. Assumenda, sunt tenetur explicabo obcaecati doloribus quod non, sapiente, reiciendis molestiae eligendi illum? Cum, voluptate.</p>
    </div>
    <div class="flex-30">
      <img class="feature-img" src="img/thanks.png" alt="Thanks">
      <h3 class="tx-22 tx-med text-primary">Feature One</h3>
      <p class="tx-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi animi expedita sequi ut dicta officia, voluptates earum minus quasi assumenda nostrum iure quidem eum ducimus, quibusdam molestias facilis cumque nemo.</p>
    </div>
    </div>
  </div>
</div>
<div class="jumbotron" id="the-app">
  <div class="wrapper">
    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <h4 class="tx-24 tx-wh">Access anytime from anywhere</h4>
      <p class="tx-wh">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam assumenda iure dicta itaque et error sit quia tenetur, non dolorum voluptates natus quo, deleniti iusto quisquam, eius tempore veniam recusandae.
      </p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <div class="phone"></div>
    </div>
  </div>
</div>
<div class="jumbotron" id="cta-final">
  <div class="wrapper">
    <h1>Be relevant in <br/>the world</h1>
    <h2>Show the power of your work with <span class="tx-bold">Spryly</span></h2>
  <div class="form-group no-center">
    <input class="form-control"  type="text" placeholder="Enter your email">
    <button class="btn btn-primary">Start Now!</button>
  </div>
  <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
