<div class="jumbotron" id="welcome-spryly">
  <spr-public-nav></spr-public-nav>
  <div class="wrapper">
  <h1>Be relevant in <br/>the world</h1>
  <h2>Show the power of your work with <span class="tx-bold">Spryly</span></h2>
  <div class="form-group">
    <input class="form-control"  type="text" placeholder="Enter your email">
    <button class="btn btn-primary">Start Now!</button>
  </div>
  </div>
</div>
<div class="jumbotron" id="features">
  <div class="container-fluid">
    <h2 class="text-primary tx-bold">Discover the spryly power</h2>
    <p class="main-text">3 powers that could show how good you are</p>
    <div class="flex-container flex-space fall-xs">
    <div class="flex-30">
      <img class="feature-img" src="img/icon-h-1.png" alt="Thanks">
      <h3 class="tx-22 tx-med text-primary">Create your reputation</h3>
      <p class="tx-normal tx-14 tx-gray">Your work needs a favorable and publicly recognition in the world. Build your reputation according to your achievements, prefered people and with total confidence. </p>
    </div>
    <div class="flex-30">
      <img class="feature-img" src="img/icon-h-2.png" alt="Thanks">
      <h3 class="tx-22 tx-med text-primary">Get recommendations</h3>
      <p class="tx-gray">Most recruiters and HR professionals prefered people who have a solid base of recommendations. Ask your colleagues, clients, bosses, professors or anyone that you want and show the world how good are you.</p>
    </div>
    <div class="flex-30">
      <img class="feature-img" src="img/icon-h-3.png" alt="Thanks">
      <h3 class="tx-22 tx-med text-primary">Ask for feedback</h3>
      <p class="tx-gray">Feedback from important people is waiting for you. Put your most important work conversations in Spryly and we are going to allow you to discover new frontiers in knowledge.</p>
    </div>
    </div>
  </div>
</div>
<div class="jumbotron" id="the-app">
  <div class="wrapper">
    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <h4 class="tx-24 tx-wh">Access anytime from anywhere</h4>
      <p class="tx-wh">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam assumenda iure dicta itaque et error sit quia tenetur, non dolorum voluptates natus quo, deleniti iusto quisquam, eius tempore veniam recusandae.
      </p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <div class="phone"></div>
    </div>
  </div>
</div>
<div class="jumbotron" id="cta-final">
  <div class="wrapper">
    <h1>Be relevant in <br/>the world</h1>
    <h2>Show the power of your work with <span class="tx-bold">Spryly</span></h2>
  <div class="form-group no-center">
    <input class="form-control"  type="text" placeholder="Enter your email">
    <button class="btn btn-primary">Start Now!</button>
  </div>
  <img src="img/logo_black.png" height="34" alt="Spryly brand logo">
  <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
