<div class="jumbotron" id="welcome-spryly">
  <spr-public-nav></spr-public-nav>
  <div class="wrapper">
  <h1>Be relevant in <br/>the world</h1>
  <h2>Show the power of your work with <span class="tx-bold">Spryly</span></h2>
  <div class="form-group">
    <a [routerLink]="['/users/signup']" class="center-block-xs btn btn-primary">Start Now!</a>
  </div>
  </div>
</div>
<div class="jumbotron" id="features">
  <div class="container-fluid">
    <h2 class="tx-primary tx-bold">Discover the spryly power</h2>
    <p class="main-text">Three powers that will help you to show how good you are</p>
    <div class="flex-container flex-space fall-xs">
    <div class="flex-30">
      <img class="feature-img" src="img/icon-h-1.png" alt="Thanks">
      <h3 class="tx-22 tx-med tx-primary">Build your reputation</h3>
      <p class="tx-normal tx-14 tx-gray">Your work needs a favorable and public recognition in the world. Build your reputation according to your achievements and preferred people and with total confidence. </p>
    </div>
    <div class="flex-30">
      <img class="feature-img" src="img/icon-h-2.png" alt="Thanks">
      <h3 class="tx-22 tx-med tx-primary">Verify connections</h3>
      <p class="tx-gray">Most recruiters and HR professionals prefer people who have a solid base of connections. Ask your colleagues, clients, bosses, professors or anyone else to confirm your connection and show the world the quality of your work.</p>
    </div>
    <div class="flex-30">
      <img class="feature-img" src="img/icon-h-3.png" alt="Thanks">
      <h3 class="tx-22 tx-med tx-primary">Ask for feedback</h3>
      <p class="tx-gray">Feedback from important people is waiting for you. Important work conversations will be shown in Spryly and this will help you to discover new extents in knowledge.</p>
    </div>
    </div>
  </div>
</div>
<div class="jumbotron" id="the-app">
  <div class="wrapper">
    <div class="col-xs-12 col-xs-offset-0 col-sm-7 col-sm-offset-0 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1">
      <h4 class="tx-28 tx-wh">We care about you. You are the center.</h4>
      <p class="tx-wh">
        At Spryly you are in control of all of your information and who is able to see it. We care about you and we have crafted a delightful experience for you that can help you improve your professional life.
      </p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-0 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <div class="phone"></div>
    </div>
  </div>
</div>
<div class="jumbotron" id="cta-final">
  <div class="wrapper text-center">
    <h1>Be relevant in <br/>the world</h1>
    <h2>Show the power of your work with <span class="tx-bold">Spryly</span></h2>
  <div class="form-group">
    <a [routerLink]="['/users/signup']"  class="center-block btn btn-primary">Start Now!</a >
  </div>
  <img class="logo-footer" src="img/logo_black.png" height="34" alt="Spryly brand logo">
  <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
